* html, body{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
 
 background-image: url("images/image1.jpeg");
 background-size: cover;
 height: 500px;
 background-repeat: no-repeat;
}

.container .about {
 padding-top: 20rem;
 color: white;
 display: flex;
 flex-direction: row;
 justify-content: end;
 align-items: center;
 padding-right: 2rem;
 justify-content: space-around;
}

p{
 background-color: white;
 color: black;
 padding: 1rem;
 font-size: 15px;
}

body {
margin-left: 0.5rem;
margin-right: 0.5rem;
}
.article {
 width: 100%;
 height: 100%;
}
.article .paragraph_one  {
 background: rgb(240, 198, 205);
 font-style: italic;
 font-weight: 100;
 margin-bottom: 0;
}

.article .paragraph_one::first-letter{
 color: white;
 font-size: xx-large;
}
.article .paragraph_two {
 background: rgb(240, 198, 205);
 font-weight:  small;
 font-size: 10px;
}

.gallery {
 display: flex;
 flex-direction: row;
 width: 100%;
 

}
 .gallery img {
 height: 180px;
 width: 95px;

 flex-basis: 20em;
} 


.container_aside {
 padding-top: 1rem ;
 background: rgb(240, 198, 205);
 padding-bottom: 1rem;

}



.container_aside > h2 {
 text-align: center;
 font-size: 35px;
}

.container_aside p{
 font-size: 20px;
 text-align: center;
 background: rgb(240, 198, 205);
}

 form {
 display: flex;
 flex-direction: row;
 font-size: 2rem;
 margin: 1rem 1rem;
 justify-content: center;
 } 

input[type=text]  {
 width: 90px;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 10px;
 box-sizing: border-box;
 margin-right: 1rem;
}

input[type= "email"]  {
 width: 90px;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 10px;
 box-sizing: border-box;
 margin-right: 1rem;
}

input[type= "button"] {
 text-align: center;
 width: 70px;
 background-color: black;
 color: white;
 padding: 14px 20px;
 display: inline-block;
 margin: 8px 0;
 border: 1px solid;
 border-radius: 10px;
 cursor: pointer;
}

input[type= "button"]:hover {
 background-color: rgb(240, 198, 205);
 transition: 0.9s ease-in-out
}

.section {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin: 2rem 2rem;
}

.section img {
 width: 250px;
 height: 300px;
}

 .section_paragraph-container {
 display: flex;
 flex-direction: column;
 }

 .section_paragraph2 {
  font-family: 'Italianno', cursive;
  color: pink;
  font-size: 25px;
 }

.collection {
 background: rgb(240, 198, 205);
 padding-bottom: 2rem;
}

 .collection h1 {
  text-align: center;
  padding-bottom: 1rem;
  color: white;
  font-size: 45px;
 }

 .collection_images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 4rem;
  margin-left: 4rem;
 }


 .collection img {
  height: 180px;
  width: 200px;
  padding-right: 1rem;
 }

 .social-icons  {
  
  background: white;
 }

 .simple-product {
  display: flex;
  flex-direction: column;
 }
 .price-tag {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
 }

 .price-tag  img {
  width: 200px;
  height: 200px;
  padding-right: 1rem;
 
 }

 .price-tag h2 {
  font-size: 20px;
  font-style: normal;
 }

 .price-tag h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  padding-top: 0;
 }

 .price-tag h6 {
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
 }

 button {
  background: black;
  color: white;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.0rem;
  border: o;

 }

 button:hover {
  color: black;
  background: rgb(240, 198, 205);
  transition: .7s ease-in-out;

 }

 .sub-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-bottom: 1rem;
 }

 .sub-container img {
  width: 600px;
  height: 500px;
  padding-right: 1rem;

 }

 .sub-container .sub-container_button {
  text-align: center;
 }

 .subscription {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  align-content: flex-end;
 }


  hr { 
   display: block;
   margin-left: 0.5em;
   margin-right: 0.5em; 
   margin-top: 2rem;
   background: rgb(240, 198, 205) ;  
   overflow: hidden;
   }

   .subscription h2 {
    text-align: center;
    font-size: 6rem;
   }

  .sub-container h2 {
   font-size: 17px;
  }

  .social-icons2 {
   text-align: center;
  }
  
  .social-icons2 .fab {
   background: white;
   color: black; 
   padding-right: 1rem;
  }

  .social-icons2 .fab:hover {
   background: white;
   color:  rgb(240, 198, 205) ; 
   transition: 0.9s ease-in-out;
  }
@media (min-width: 700px) {

  input[type= "button"] {
   text-align: center;
   width: 90px;
   background-color: black;
   color: white;
   padding: 14px 20px;
   display: inline-block;
   margin: 8px 0;
   border: 1px solid;
   border-radius: 10px;
   cursor: pointer;
  }

  input[type= "text"] {
   text-align: center;
   width: 120px;
   color: white;
   padding: 14px 20px;
   display: inline-block;
   margin: 8px 0;
   border: 1px solid;
   border-radius: 5px;
   cursor: pointer;
  }

  input[type= "email"] {
   text-align: center;
   width: 120px;
   color: white;
   padding: 14px 20px;
   display: inline-block;
   margin: 8px 0;
   border: 1px solid;
   border-radius: 5px;
   cursor: pointer;
   padding-right: 1rem;
  }

  .sub-container form{
   padding: 1rem;
  }
 }
